{% extends "base.html" %} {% block content %}
<div class="container p-5 my-5 border">
  <h2>Assisted Living Facilities</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      {% for alf in alfs %}
      <tr>
        <td>
          <a href="/assistedliving/details/{{ alf.id }}">{{ alf.name }}</a>
        </td>
        <td>{{ alf.address }}</td>
        <td>{{ alf.city }}</td>
        <td>{{ alf.state }}</td>
        <td>{{ alf.zip_code }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if alfs.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ alfs.previous_page_number }}">Previous</a></li>
      {% endif %}
        <li class="page-item disabled"><a class="page-link" href="#">Page {{ alfs.number }} of {{ alfs.paginator.num_pages }}</a></li>
      {% if alfs.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ alfs.next_page_number }}">Next</a></li>
        <li class="page-item"></li><a class="page-link" href="?page={{ alfs.paginator.num_pages }}">Last &raquo;</a></li>
      {% endif %}
      </ul>
    </nav>
  </div>  
</div>
{% endblock content %}
