{% extends "base.html" %} {% block content %}

<div class="facility-details">
  <h2 class="facility-detail-info">{{ hospice_obj.name }}</h2>
  <p class="facility-detail-info">{{ hospice_obj.address }}</p>
  <p class="facility-detail-info">
    {{ hospice_obj.city }}, {{ hospice_obj.state }} {{ hospice_obj.zip_code }}
  </p>
  <p class="facility-detail-info">{{ hospice_obj.phone_number }}</p>
  <p class="facility-detail-info">
    Medicare Eligible: {{ hospice_obj.medicare_elig }}
  </p>
</div>
<div>
  <a href="{% url 'hospice-update-view' hospice_obj.id %}">UPDATE</a>
  <a href="{% url 'hospice-delete-view' hospice_obj.id %}">DELETE</a>
</div>
{% endblock content %}
