{% extends "base.html" %} {% block content %}

<div>
  <center>
    <h2>{{ hospice_obj.name }}</h2>
    <ul>
      <li>{{ hospice_obj.address }}</li>
      <li>
        {{ hospice_obj.city }}, {{ hospice_obj.state }} {{ hospice_obj.zip_code
        }}
      </li>
      <li>{{ hospice_obj.phone_number }}</li>
    </ul>
    <div>
      <a
        href="{% url 'hospice-update-view' hospice_obj.id %}"
        class="btn btn-secondary"
        >UPDATE</a
      >
      <a
        href="{% url 'hospice-delete-view' hospice_obj.id %}"
        class="btn btn-danger"
        >DELETE</a
      >
    </div>
  </center>
</div>

{% endblock content %}
