{% extends "base.html" %} {% block content %}

<div class="container p-5 my-5 details">
  <h2>{{ hhc_obj.name }}</h2>
  <p>{{ hhc_obj.address }}</p>
  <p>{{ hhc_obj.city }}, {{ hhc_obj.state }} {{ hhc_obj.zip_code }}</p>
  <p>{{ hhc_obj.phone_number }}</p>
  <p>
    <a href="{{ hhc_obj.official_website }}">{{ hhc_obj.official_website }}</a>
  </p>
  <br />
  <div>
    <a href="{% url 'hhc-update-view' hhc_obj.id %}" class="btn btn-secondary"
      >UPDATE</a
    >
    <a href="{% url 'hhc-delete-view' hhc_obj.id %}" class="btn btn-danger"
      >DELETE</a
    >
  </div>
</div>

{% endblock content %}
