{% extends "base.html" %} {% block content %}
<!-- <div>
  <select>
    Select Provider
    <option value="0">Select type:</option>
    {% for provider in provider_qs %}
    <option value="{{ provider.id }}>
      <a href="/providers/{{ provider.id }}">{{ provider.facility_type }}</a>
    </option>
    {% endfor %}
  </select>
</div>

<div>
  <select>
    Select State
    <option value="0">States:</option>
    {% for states in states_qs %}
    <option value="{{ states.id }}>
      <a href="/providers/{{ states.id }}">{{ states }}</a>
    </option>
    {% endfor %}
  </select>
</div> -->
<div class="container header-center">
  <h1>A Blue Rainbow</h1>
  <h2> · an online resource for primary caretakers ·</h2>
</div>
<div class="container p-5 my-5 border">
  <h2>Assisted Living Facilities</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      {% for alf in assisted_qs %}
      <tr>
        <td>
          <a href="/assistedliving/details/{{ alf.id }}">{{ alf.name }}</a>
        </td>
        <td>{{ alf.address }}</td>
        <td>{{ alf.city }}</td>
        <td>{{ alf.state }}</td>
        <td>{{ alf.zip_code }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container p-5 my-5 border">
  <h2>Home Health Care Resources</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      {% for hhc in homehealth_qs %}
      <tr>
        <td><a href="/homehealth/details/{{ hhc.id }}">{{ hhc.name }}</a></td>
        <td>{{ hhc.address }}</td>
        <td>{{ hhc.city }}</td>
        <td>{{ hhc.state }}</td>
        <td>{{ hhc.zip_code }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="container p-5 my-5 border">
  <h2>Skilled Nursing Facilities</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      {% for snf in skillednursing_qs %}
      <tr>
        <td>
          <a href="/skillednursing/details/{{ snf.id }}">{{ snf.name }}</a>
        </td>
        <td>{{ snf.address }}</td>
        <td>{{ snf.city }}</td>
        <td>{{ snf.state }}</td>
        <td>{{ snf.zip_code }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<div class="container p-5 my-5 border">
  <h2>Hospice</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      {% for hospice in hospice_qs %}
      <tr>
        <td>
          <a href="/hospice/details/{{ hospice.id }}">{{ hospice.name }}</a>
        </td>
        <td> {{ hospice.address }}</td>
        <td>{{ hospice.city }}</td>
        <td>{{ hospice.state }}</td>
        <td> {{ hospice.zip_code }}</td>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<br />
{% endblock content %}
