{% extends "base.html" %} {% block content %}
<h1>A Blue Rainbow</h1>
<select>
  Select Provider
  <option>Select type:</option>
  {% for provider in provider_qs %}
  <option value="{{ provider.id }}>
    <a href="/providers/{{ provider.id }}">{{ provider }}</a>
  </option>
  {% endfor %}
</select>
<a href="/feedback/">User Feedback Form</a>
<!-- <ul>
  {% for provider in provider_qs %}
  <li><a href="/providers/{{ provider.id }}">{{ provider }}</a></li>
  {% endfor %}
</ul> -->
{% endblock content %}
