{% extends "base.html" %} {% block content %}

<div class="container p-5 my-5 details">
  <h2>{{ snf_obj.name }}</h2>
  <p>{{ snf_obj.address }}</p>
  <p>{{ snf_obj.city }}, {{ snf_obj.state }} {{ snf_obj.zip_code }}</p>
  <p>{{ snf_obj.phone_number }}</p>
  <p>
    <a href="{{ snf_obj.official_website }}">{{ snf_obj.official_website }}</a>
  </p>
  <br />
  <div>
    <a href="{% url 'snf-update-view' snf_obj.id %}" class="btn btn-secondary"
      >UPDATE</a
    >
    <a href="{% url 'snf-delete-view' snf_obj.id %}" class="btn btn-danger"
      >DELETE</a
    >
  </div>
</div>

{% endblock content %}
